{% extends 'base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <div class="card-title">Cadastro de Usuário</div>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% bootstrap_field user_form.username %}
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        {% bootstrap_field user_form.password1 %}
                    </div>
                    <div class="form-group col-md-6">
                        {% bootstrap_field user_form.password2 %}
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Salvar">
            </form>
        </div>
    </div>
{% endblock content %}